[Unit]
Description=Statistics

[Service]
Type=oneshot
User=user
Group=group

ExecStart=./server_stat_check_v0.1.sh

[Install]
WantedBy=multi-user.target